<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>register</title>
</head>
<body>
   
    <form action="register" method="POST">
        {% csrf_token %}
        <br>
  
        <label for="first_name">First name:</label><br>
        <input type="text" id="first_name" name="first_name"><br>

        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username"><br>
        <label for="pname">Password:</label><br>
        <input type="password" id="password" name="password"><br>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>
       <br> <input type ="submit" value="Submit" ><br>
      </form>
</body>
</html>